<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
  <link rel="shortcut icon" th:href="@{/images/logo.png}" />
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
  <link rel="stylesheet" type="text/css" href="../../static/css/vendors/mddatetimepicker/mdDateTimePicker.min.css" th:href="@{/css/vendors/mddatetimepicker/mdDateTimePicker.min.css}" />
  <link rel="stylesheet" type="text/css" href="../../static/css/vendors/mcdatepicker/mc-calendar.min.css" th:href="@{/css/vendors/mcdatepicker/mc-calendar.min.css}" />
  <link rel="stylesheet" type="text/css" href="../../static/css/vendors/sweetalert2/sweetalert2.min.css" th:href="@{/css/vendors/sweetalert2/sweetalert2.min.css}" />

  <script defer src="../../static/js/vendors/alpinejs/cdn.min.js" th:src="@{/js/vendors/alpinejs/cdn.min.js}"></script>
  <script src="../../static/js/scriptmenus.js" th:src="@{/js/scriptmenus.js}" defer></script>
  <script defer src="../../static/js/vendors/htmx/htmx.min.js" th:src="@{/js/vendors/htmx/htmx.min.js}"></script>
  <script defer src="../../static/js/vendors/htmx/htmx-ext-response-targets.min.js" th:src="@{/js/vendors/htmx/htmx-ext-response-targets.min.js}"></script>
  <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
  <script src="../../static/js/vendors/maskmoney/simple-mask-money.umd.min.js" th:src="@{/js/vendors/maskmoney/simple-mask-money.umd.min.js}" defer></script>
  <script src="../../static/js/vendors/mcdatepicker/mc-calendar.min.js" th:src="@{/js/vendors/mcdatepicker/mc-calendar.min.js}" defer></script>
  <script src="../../static/js/vendors/mddatetimepicker/draggabilly.pkgd.min.js" th:src="@{/js/vendors/mddatetimepicker/draggabilly.pkgd.min.js}" defer></script>
  <script src="../../static/js/vendors/mddatetimepicker/moment.min.js" th:src="@{/js/vendors/mddatetimepicker/moment.min.js}" defer></script>
  <script src="../../static/js/vendors/mddatetimepicker/mdDateTimePicker.js" th:src="@{/js/vendors/mddatetimepicker/mdDateTimePicker.js}" defer></script>
  <script src="../../static/js/vendors/sweetalert2/sweetalert2.all.min.js.js" th:src="@{/js/vendors/sweetalert2/sweetalert2.all.min.js}" defer></script>
  <script src="../../static/js/codigoninjadogodoi_Gemini_2.js" th:src="@{/js/codigoninjadogodoi_Gemini_2.js}" defer></script>
</head>

<body hx-ext="response-targets" hx-target="#main" hx-target-5*="#main" hx-target-4*="#main">
  <div class="container flex h-screen min-w-full flex-col">
    <div th:replace="~{layout/fragments/header :: header}"></div>

    <section class="flex flex-1 justify-center items-center">
      <th:block layout:fragment="conteudo"></th:block>
    </section>

    <div th:replace="~{layout/fragments/rodape :: rodape}"></div>
  </div>

  <th:block layout:fragment="scripts"></th:block>
</body>

</html>