<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Alterar Pessoa</title>
</head>

<body>
    <!-- conteudo principal -->
    <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

        <h1 class="text-xl md:text-2xl">Alterar Pessoa</h1>

        <form th:hx-post="@{/pessoa/alterar}" th:object="${pessoa}" class="w-full md:w-1/2 mt-10">
            <div th:replace="~{layout/fragments/forms :: inputSimplesComValor('Código', 'codigo', 'number', *{codigo}, true)}"></div>
            <input type="hidden" th:field="*{codigo}">
            <div th:replace="~{layout/fragments/forms :: inputValidado('Nome', 'nome', 'text')}"></div>
            <div th:replace="~{layout/fragments/forms :: inputValidado('CPF', 'cpf', 'text')}"></div>
            <div th:replace="~{layout/fragments/forms :: inputValidado('Nascimento', 'dataNascimento', 'data')}"></div>
            <div class="mt-4">
                <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-teal-100 text-teal-800 hover:bg-teal-200 focus:outline-none focus:bg-teal-200 disabled:opacity-50 disabled:pointer-events-none">Alterar</button>
            </div>
        </form>

    </main>
    <!-- !conteudo principal -->

</body>

</html>