<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Mostrar Pessoas</title>
</head>

<body>
    <!-- conteudo principal -->
    <main layout:fragment="conteudo" id="main" class="flex flex-col align-middle w-full m-10">

        <h1 class="text-xl md:text-2xl">Pessoas Pesquisadas</h1>

        <h1 th:if="${#lists.isEmpty(pessoas)}" class="text-lg md:text-xl mt-5">Não foram encontradas pessoas nessa pesquisa</h1>

        <th:block th:fragment="lista">
            <li th:each="pessoa : ${pessoas}" class="p-2 hover:bg-gray-100 cursor-pointer" th:data-value="${pessoa.cpf}" th:text="${pessoa.nome}">
                Option Text
            </li>
        </th:block>

    </main>
    <!-- !conteudo principal -->

</body>

</html>