<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Gradua - Início</title>
</head>

<body>
    <main layout:fragment="conteudo" id="main" class="flex flex-col items-center w-full pt-4">

        <img src="../../static/images/LogoGradua.png" th:src="@{/images/LogoGradua.png}" alt="Logo Gradua"
            class="h-32 w-32 md:h-48 md:w-48 mb-4" />
        <h1 class="text-2xl md:text-4xl text-center font-bold text-blue-600">
            Gradua
        </h1>

        <p class="text-center text-gray-600 mt-2 text-lg">
            Prepare-se para o ENEM jogando!
        </p>

        <div class="mt-5 flex flex-col items-center gap-4 w-full mb-10">
            <a th:href="@{/simulados}"
                class="w-96 p-6 border-2 border-blue-100 rounded-2xl shadow-lg bg-gray-100 hover:bg-blue-50 transition-all hover:scale-105 block text-blue-900 text-center">
                <h3 class="font-bold text-2xl">📚 Simulados</h3>
                <p class="text-base mt-2 opacity-80">Praticar questões do ENEM</p>
            </a>
        </div>

        <div class="mt-5 flex flex-col items-center gap-4 w-full mb-10">
            <a th:href="@{/ranking}"
                class="w-96 p-6 border-2 border-yellow-100 rounded-2xl shadow-lg bg-gray-100 hover:bg-blue-50 transition-all hover:scale-105 block text-yellow-900 text-center">
                <h3 class="font-bold text-2xl">🏆 Ranking</h3>
                <p class="text-base mt-2 opacity-80">Ver sua classificação global</p>
            </a>
        </div>

        <div th:if="${session.usuarioLogado?.tipo == 'ADMIN' || session.usuarioLogado?.tipo == 'PADRAO'}"
            class="mt-5 flex flex-col items-center gap-4 w-full mb-10">
            <a th:href="@{/simulados/historico}"
                class="w-96 p-6 border-2 border-red-100 rounded-2xl shadow-lg bg-gray-100 hover:bg-blue-50 transition-all hover:scale-105 block text-red-900 text-center">
                <h3 class="font-bold text-2xl">​📄 Relatório</h3>
                <p class="text-base mt-2 opacity-80">Gerar relatórios de simulado</p>
            </a>
        </div>
    </main>
</body>

</html>