<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Alterar Aplicação</title>
</head>

<body>
    <!-- conteudo principal -->
    <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

        <h1 class="text-xl md:text-2xl">Alterar Lote</h1>

        <form th:hx-post="@{/aplicacao/alterar}" th:object="${aplicacao}" class="w-full md:w-1/2 mt-10">

            <div class="flex gap-x-6">
                <div class="flex-1">
                    <div th:replace="~{layout/fragments/forms :: inputSimplesComValor('Código', 'codigo', 'number', *{codigo}, true)}"></div>
                    <input type="hidden" th:field="*{codigo}">
                </div>
                <div class="flex-1">

                    <div th:replace="~{layout/fragments/forms :: inputValidado('Data', 'data', 'data')}"></div>
                </div>
            </div>

            <div th:replace="~{layout/fragments/forms :: inputBuscavelValidado(
                textoLabel='Pessoa',
                nomeAtributo='pessoa',
                valorAtributo=${aplicacao.pessoa != null ? aplicacao.pessoa.cpf : -1},
                textoAtributo=${aplicacao.pessoa != null ? aplicacao.pessoa.nome : 'Selecione uma opção'},
                placeholderBusca='Buscar pessoa pelo CPF...',
                urlBusca='/aplicacao/pesquisarpessoa'
            )}"></div>

            <div th:replace="~{layout/fragments/forms :: inputBuscavelValidado(
                textoLabel='Lote',
                nomeAtributo='lote',
                valorAtributo=${aplicacao.lote != null ? aplicacao.lote.codigo : -1},
                textoAtributo=${aplicacao.lote != null ? aplicacao.lote.vacina.nome + ' - ' + aplicacao.lote.nroDosesAtual + ' doses - ' + aplicacao.lote.validade : 'Selecione uma opção'},
                placeholderBusca='Buscar lote pela Vacina...',
                urlBusca='/aplicacao/pesquisarlote'
            )}"></div>

            <div class="mt-4">
                <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-teal-100 text-teal-800 hover:bg-teal-200 focus:outline-none focus:bg-teal-200 disabled:opacity-50 disabled:pointer-events-none">Alterar</button>
            </div>
        </form>

    </main>
    <!-- !conteudo principal -->

</body>

</html>